.main {
    .main__inner {
        .inner__search-block{
            border: 2px solid var(--border-color);
            border-radius: 0.2em;
            width: 595px;
        .search {
            border: 0;
            width: 550px;
            padding: 10px;
            color: var(--text-color);
            font-weight: 600;
            font-size: 20px;
            
        }
        .search--img{
            margin: 5px 15px 5px 10px;
        }
        
    }
    .inner--button{
        margin-left: 10px;
        background-color: var(--background-btn);
        color: var(--text-color);
        font-size: 20px;
        border: 0;
        border-radius: 0.5em;
        padding: 10px;
        cursor: pointer;

    }
    
    }
}
